@import "../variables";

main {
  .content__galeria--top {
    .row__main__galeria--top {
      display: flex;
      justify-content: space-evenly;
      // height: 400px;
      margin: 10px;
      gap: 20px;

      .card__nails--galeria {
        text-align: center;
        height: 250px;
        width: 250px;
        background-color: white;
        border-radius: 10px;
        border-bottom: 5px solid $color-primary;
        overflow: hidden;
        transition: all 1s;

        &:hover {
          scale: 1.1;
          translate: 0 10px;
          box-shadow: $box-shadow;
        }

        img {
          height: 90%;
          width: 90%;
          border-radius: 60%;
          padding: 10px 0;
          object-fit: cover;
        }

        .card__nails__title {
          display: block;
          width: 100%;
          background-color: $color-primary;
          font-family: $font-family-primary;
        }
      }
    }
  }

  .content__galeria--bottom {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    
    
    img{
      height: 250px;
      margin: 5px;
      border-radius: 15px;
      transition: all 1s;
      
      &:hover {
        border: 1px solid grey;
        scale: 1.1;
        box-shadow: $box-shadow;
      }
    }
  }

}
