@import "../variables";

main {
  .content__galeria--top {
    .row__main__galeria--top {
      display: flex;
      justify-content: space-evenly;
      // height: 400px;
      margin: 10px;
      gap: 20px;

      .card__nails--galeria {
        text-align: center;
        height: 250px;
        width: 250px;
        background-color: white;
        border-radius: 10px;
        border-bottom: 5px solid $color-primary;
        overflow: hidden;
        transition: all 1s;

        &:hover {
          scale: 1.1;
          translate: 0 10px;
          box-shadow: $box-shadow;
        }

        img {
          height: 90%;
          width: 90%;
          border-radius: 60%;
          padding: 10px 0;
          object-fit: cover;
        }

        .card__nails__title {
          display: block;
          width: 100%;
          background-color: $color-primary;
          font-family: $font-family-primary;
        }
      }
    }
  }

  .content__galeria--bottom {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    img {
      height: 250px;
      margin: 5px;
      border-radius: 15px;
      transition: all 1s;

      &:hover {
        border: 1px solid grey;
        scale: 1.1;
        box-shadow: $box-shadow;
      }
    }
  }

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .image-slider {
      background: #000;
      min-height: 300px;
      height: 500px;
      width: 900px;
      position: relative;
      border-radius: 15px;
      box-shadow: 0 0 20px black;
      overflow: hidden;
      background-image: url(../img/galeria/img_1.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: 0.3s;
  
      .caption {
        background: linear-gradient(rgba(0, 0, 0, 0), #000);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 4em 1em 2em 1em;
        text-align: center;
  
        h1 {
          color: #fff;
        }
  
        p {
          color: #8a8a8a;
        }
      }
  
      .arrow-left,
      .arrow-right {
        background: #fff;
        position: absolute;
        top: 40%;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
  
        &.arrow-left:hover,
        &.arrow-right:hover {
          background: #000;
          color: #fff;
        }
      }
  
      .arrow-left {
        left: 1em;
      }
  
      .arrow-right {
        right: 1em;
      }
      
      .image-fade {
        animation: imgFade 0.5s ease-in-out;
      }
  
      @keyframes imgFade {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
      
    }
  }
  
}
