@import "../variables";

main {
  grid-area: main;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .section-top {
    display: flex;
    flex-direction: column;
    height: 40%;
    background-image: url("../img/bg-pink.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    
    h1 {
      font-size: 3rem;
      font-family: $font-family-primary;
      color: white;
      text-shadow: $text-shadow;
      margin-left: 20px;
    }

  }

  .section-bottom {
    height: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 80px 20px 80px;

    .card {
      display: flex;
      flex-direction: row;
      height: 50%;
      width: 50%;
      border: none;
      padding: 20px;
      margin: 10px 0;
      background-color: $color-secondary;
      transition: all 2s;

      &:hover {
        transform: scale(1.1);
        z-index: 2;
      }

      .card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 150px;
      }

      img {
        height: 150px;
        width: 150px;
        border-radius: 100%;
      }

      .card-text {
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
        height: 150px;
        text-align: center;
        font-family: $font-family-primary;
      }
    }
  }
}
