main {
  .hero {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-image: url("../img/bg-pink.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;

    h1 {
      font-size: 3rem;
      font-family: $font-family-primary;
      color: white;
      text-shadow: $text-shadow;
      margin-left: 50px;
      transition-delay: 5s;
      transition: all 2s;
      width: 70%;
    }
  }

  .main__servicios {
    display: flex;
    flex-direction: column;
    overflow: scroll;

    .main__servicios__info {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-right: 20px;

      .services__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350px;
        width: 20%;
        border-bottom: 10px solid $color-primary;
        border-radius: 15px;
        background-color: white;
        margin: 20px;

        .services__card--top {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          height: 70%;
          width: 100%;

          img {
            background-color: $color-primary;
            border-radius: 50%;
            height: 150px;
            width: 150px;
          }
        }

        h3 {
          font-family: $font-family-primary;
          font-size: 1.2rem;
          font-weight: bold;
        }

        span {
          font-family: $font-family-primary;
          font-size: 1rem;
          text-align: center;
          color: grey;
          padding: 0 15px;
        }
      }
    }
  }
}
