* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Castoro Titling", cursive;
}

body {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 10% 85% 5%;
  grid-template-columns: 100%;
}

/* #### HEADER #### */

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1c4db;
  border: 10px solid white;
  border-radius: 20px;
  padding: 20px;
}

.logo-header {
  height: 200%;
  margin-left: 20px;
}

nav ul {
  display: flex;
  margin: auto;
  list-style: none;
  margin-right: 20px;
}

nav ul li {
  margin: auto 20px auto 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: x-large;
  filter: drop-shadow(0 0 100px #e02157);
}

/* #### MAIN #### */

main {
  grid-area: main;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-top {
  height: 40%;
  background-image: url("../img/bg-pink.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px solid white;
}

.section-bottom {
  height: 60%;
  display: flex;
}

.bottom-left {
  display: flex;
  width: 30%;
}

.bottom-left img {
  height: 80%;
  width: auto;
  margin: auto;
  border-radius: 100px;
}

.bottom-rigth {
  display: flex;
  height: 100%;
  width: 70%;
  padding: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
  background-color: inherit;
  border: none;
}

.card img {
  height: 100%;
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 120px;
}

.card-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* #### FOOTER #### */

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(216, 162, 241); */
  /* background-color: #F1C4DB; */
  background-image: linear-gradient(to top, #f0088080, #f131942a, #f08cc000);
}

footer a {
  text-decoration: none;
}

.brand {
  display: flex;
  margin: 5px 5px auto 5px;
  justify-content: center;
  color: rgba(255, 255, 255, 0.705);
  font-size: 15px;
}

.footer-icon {
  height: 30px;
}
