@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEE7E4;
}

header .header__info {
  display: flex;
  justify-content: space-around;
  height: 25px;
  background-color: #313a46;
}
header .header__info img {
  height: 15px;
  margin-bottom: 3px;
}
header .header__info .flag {
  border-radius: 15px;
}
header .header__info span {
  color: white;
  height: 15px;
  margin: 0 5px;
  text-align: center;
}
header .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1c4db;
  height: 75px;
}
header .nav-header .logo-header {
  height: 50px;
  margin-left: 20px;
}
header .nav-header nav ul {
  display: flex;
  margin: auto;
  margin-right: 20px;
}
header .nav-header nav ul li {
  margin: auto 20px auto 20px;
  list-style: none;
  transition: all 1s;
}
header .nav-header nav ul li:hover {
  transform: scale(1.2);
}
header .nav-header nav ul li a {
  font-family: "Castoro Titling", cursive;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
header .nav-header nav ul li .selected-page {
  color: #ffffff;
  text-shadow: 3px 3px 2px rgb(128, 128, 128);
}
header .menu-btn,
header .menu-icon {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
main .hero {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-image: url("../img/bg-pink.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}
main .hero h1 {
  font-size: 3rem;
  font-family: "Castoro Titling", cursive;
  color: white;
  text-shadow: 3px 3px 2px rgb(128, 128, 128);
  margin-left: 20px;
  transition-delay: 5s;
  transition: all 2s;
}
main .content__inicio {
  padding: 20px 50px;
}
main .content__inicio .row__main__inicio {
  display: flex;
  justify-content: space-around;
}
main .content__inicio--bottom {
  margin: 20px;
  padding: 20px 50px;
  text-align: center;
  border-radius: 15px;
  background-color: white;
}
main .content__inicio--bottom .row__main__inicio {
  display: flex;
  justify-content: space-around;
}
main .content__inicio--bottom img {
  max-height: 250px;
  border-radius: 15px;
  box-shadow: 3px 3px 20px rgb(128, 128, 128);
  margin: 20px;
  transition: transform 1s;
}
main .content__inicio--bottom img:hover {
  transform: scale(1.1);
}
main .content__inicio--bottom span {
  font-family: "Castoro Titling", cursive;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(206, 203, 203);
  box-shadow: -0.5px 1px 5px rgba(0, 0, 0, 0.493);
  padding: 8px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: #313a46;
}
footer .footer__info {
  display: flex;
  justify-content: space-between;
  height: 285px;
  gap: 10px;
}
footer .footer__info .footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30%;
}
footer .footer__info .footer__social img {
  height: 30px;
}
footer .footer__info .footer__services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: 15px 0;
  border-left: 1px solid grey;
}
footer .footer__info .footer__services img {
  height: 2rem;
}
footer .footer__info .footer__services h3 {
  display: inline;
  color: #f1c4db;
  font-family: "Verdana", cursive;
  font-size: 1.2rem;
  margin-left: 40px;
}
footer .footer__info .footer__services span {
  display: block;
  color: white;
  font-family: "Verdana", cursive;
  font-size: 1rem;
  padding: 0.1rem;
  margin-left: 60px;
}
footer .footer__info .footer__services .footer__contact--data {
  color: rgb(179, 176, 176);
  font-size: 0.8rem;
  font-weight: normal;
  margin-left: 75px;
}
footer .footer__info .footer__services a {
  text-decoration: none;
}
footer .footer__info .footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: 15px 0;
  border-left: 1px solid grey;
}
footer .footer__info .footer__contact h3 {
  display: inline;
  color: #f1c4db;
  font-family: "Verdana", cursive;
  font-size: 1.2rem;
  margin-left: 40px;
}
footer .footer__info .footer__contact span {
  display: block;
  color: white;
  font-family: "Verdana", cursive;
  font-size: 1rem;
  padding: 0.1rem;
  margin-left: 60px;
}
footer .footer__info .footer__contact .footer__contact--data {
  color: rgb(179, 176, 176);
  font-size: 0.8rem;
  font-weight: normal;
  margin-left: 75px;
}
footer .footer__info .footer__contact .footer__contact--item {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
footer .footer__info .footer__contact .footer__contact--item span {
  margin-left: 0;
}
footer .footer__info .footer__contact .footer__contact--item img {
  height: 1rem;
  margin-right: 10px;
}
footer .footer__copyright {
  display: flex;
  justify-content: center;
  height: 15px;
}
footer .footer__copyright h5 {
  color: white;
  font-family: "Castoro Titling", cursive;
  font-size: 10px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
