* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Castoro Titling", cursive;
}

body {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 10% 85% 5%;
  grid-template-columns: 100%;
}

/* #### HEADER #### */

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 90%; */
  background-color: #f1c4db;
  border-top: 10px solid white;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
  border-radius: 0 30px 30px 0;
  /* border: 10px solid white;
  border-radius: 30px; */
  padding: 20px;
}

.logo-header {
  /* height: 50px; */
  height: 200%;
  margin-left: 20px;
}

nav ul {
  display: flex;
  margin: auto;
  list-style: none;
  margin-right: 20px;
}

.logo-nav {
  height: 20px;
}

nav ul li {
  margin: auto 20px auto 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: x-large;
  filter: drop-shadow(0 0 100px #e02157);
}

.menu-btn,
.menu-icon {
  display: none;
}

/* #### MAIN #### */

main {
  grid-area: main;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.section-top {
  height: 40%;
  background-image: url("../img/bg-pink.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px solid white;
}

.section-bottom {
  height: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3%;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 50%;
  background-color: inherit;
  border: none;
}

.card img {
  height: 100%;
  width: 50%;
  margin: auto;
  padding: 1%;
  border-radius: 100%;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* #### FOOTER #### */

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(216, 162, 241); */
  /* background-color: #F1C4DB; */
  background-image: linear-gradient(to top, #f0088080, #f131942a, #f08cc000);
}

footer a {
  text-decoration: none;
}

.brand {
  display: flex;
  margin: 5px 5px auto 5px;
  justify-content: center;
  color: rgba(255, 255, 255, 0.705);
  font-size: 15px;
}

.footer-icon {
  height: 30px;
}

@media screen and (max-width: 1150px) {
  /* #### HEADER #### */

  .not-display {
    display: none;
  }

  .dropdown-mobile {
    display: none;
    position: relative;
    z-index: 100;
  }

  .dropdown-mobile.visible {
    display: flex;
  }

  .dropdown-menu-mobile {
    position: absolute;
    width: 200 px;
    display: flex;
    top: 40px;
    background: rgba(255, 255, 255, 0.76);
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0);
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin: 5px;
  }

  nav ul li a {
    color: rgb(0, 0, 0);
  }
  .menu-btn {
    display: inherit;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    border: none;
    background-color: inherit;
  }

  .menu-icon {
    display: inherit;
    height: inherit;
    padding: 3px;
    border-radius: 10px;
  }

  /* #### MAIN #### */

  .section-bottom {
    height: 100%;
    flex-wrap: nowrap;
    margin: unset;
    align-items: center;
  }

  .card {
    width: 80%;
    flex-direction: column;
  }
}
