@import "partials/variables";

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-secondary;
}

// #### HEADER ####
@import "partials/header/header";

// #### MAIN ####
@import 'partials/main/inicio';
@import 'partials/main/cursos';
@import 'partials/main/servicios';
@import 'partials/main/galeria';
@import 'partials/main/contacto';

// #### FOOTER ####
@import 'partials/footer/footer';

// #### @media screen ####
@import 'partials/media-screen';