@import "partials/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 80px auto 40px;
  grid-template-columns: 100%;
}

// #### HEADER ####
@import "partials/header/header";

// #### MAIN ####
@import 'partials/main/inicio';

// #### FOOTER ####
@import 'partials/footer/footer';

// #### @media screen ####
@import 'partials/media-screen';