@import '../variables';

header {
  grid-area: header;
  
  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    background-color: #313A46;

    span {
      color: white;
      margin: 0 10px;
    }

    .ubicacion {

      img {
        height: 15px;
      }

    }

  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    height: 75px;

    .logo-header {
      height: 50px;
      margin-left: 20px;
    }

    nav {
      ul {
        display: flex;
        margin: auto;
        margin-right: 20px;

        li {
          margin: auto 20px auto 20px;
          list-style: none;
          transition: all 1s;

          &:hover {
            transform: scale(1.2);
          }

          a {
            font-family: $font-family-primary;
            font-size: large;
            text-decoration: none;
            color: black;
          }

          .selected-page {
            color: #ffffff;
            text-shadow: $text-shadow;
          }
        }
      }
    }

    .menu-btn,
    .menu-icon {
      display: none;
    }

  }

}